& {
/*	.bg, .cloud {
		width: 130%;
		left: -15%;
		right: -15%
	}
  */
  .course {
    margin-top: -80px;
  }
  .cloud-5 {
    background: url(../images/fon65216.png) no-repeat center;
    background-size: 90%;
}
  .cloud-6 {
    background: url(../images/fon45489.png) no-repeat center 35%;
    background-size: 90%;
}
  .cloud-1 {
    background: url(../images/tusha-1.png) center no-repeat;
    background-size: 73%;
}

}