& {

  .course {
    margin-top: -130px;
  }
  .cloud-5 {
    background: url(../images/fon65216.png) no-repeat center;
    background-size: 90%;
  }
  .cloud-6 {
    background: url(../images/fon45489.png) no-repeat center 35%;
    background-size: 90%;
  }
  .garant .cloud-1 {
    background: url(../images/tusha-1.png) center no-repeat;
    background-size: 65%;
  } 
  .item-block {
    background: url(../images/3-layers.png) no-repeat center 415px;
    background-size: 110%;
  }

  .future-item {
    background-size: 120%;
  }
  .cloud-7 {
    background: url(../images/tushki-fon.png) no-repeat center;
    background-size: 79%;
  }
}