@import '../../mq';

@media #{$tabletPortrait} {
    @import '../mobile';
  	& {
     .head-box img {
		float: left;
	}
	.head-box .start {
		max-width: 390px;
	}
	.head-box .start h2 span {
		display: block;
	}
	.head-title {
		font-size: 64px;
	}
	.parallax-wrapper {
		display: none;
	}
	.statistics, section, footer, .items {
		margin: 0;
	}
	.info  {
		background-image: none;
	}
	.garant {
		img {
			width: 100%;
		}
	}
	.foundation {
		/*margin-top: 0;*/
	}
	.future-item {
		padding-bottom: 30px;
	}
	.program {
		li {
			&:before {
				display: block;
			}
		}
	}
	.header {
		min-height: auto;
	}
      .price-box {
        max-width: 330px;
      }
      .price-btn {
        font-size: 20px;
      }
      .price-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 250px;
    margin-bottom: 20px;
}
.garant {
    position: relative;
    padding: 38px 0;
	margin: 0;
}
 .footer {
    padding-top: 30px;
}
	}

}
